* {
  font-family: kalameh,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}
@font-face {
  font-family: yekan;
  src: url("../../fonts/KALAMEHREGULAR.ttf");
}
:root {
  background-color: theme("colors.midBlue");
}
